.technology {
  display: inline-flex;
  width: 100%;
  margin: auto;
  margin-left: 1em;
  animation: fadein 1s ease forwards;
  opacity: 0;
  p {
    text-indent: 0.1em;
    text-align: center;
    font-size: 0.7em;
    color: white;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 2px;
  }
  .circle {
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  .triangle {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-width: 20px;
    border-bottom-style: solid;
    height: 0;
    width: 0;
    p {
      position: relative;
      top: 5px;
      left: -10px;
      width: 20px;
      height: 15px;
    }
  }
  h6 {
    margin: auto 0;
    text-indent: 1em;
  }
  div[id^="tech-"] {
    transition: left 1s, top 1s, width 0.3s, height 0.3s, border-left 0.2s,
      border-right 0.2s, border-bottom 1.75s, border-bottom-color 2s,
      background 0.5s linear;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
